/* Universal styles */
:root
{
  --primary-color: #696565;
  --secondary-color: #ffffff;
  --text-color: black;
  --link-color: #2196F3;
  --hover-color: #19cdb2;
  --darkmode-bg: #222;
  --darkmode-text: #fff;
}

body {
  padding-top: 70px;
  background: var(--secondary-color);
  color: var(--text-color);
}

/* Header Styles */
.header-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  padding: 1px 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: var(--primary-color);
}

#header-img {
  width: 150px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-right: 20px;
}

.header-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 3%;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

.text{
  font-family: "Times New Roman", sans-serif;
}

.text-start::first-letter {
  font-size: 36px; 
  font-weight: bold;
  color: rgb(232, 116, 116);
}

/* Footer Style */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
}

.social-media {
  text-align: center;
  margin-top: 1px;
}

/* Contact Form Styles */
#submit{
  background-color: #ffffff;
  width: 100px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 34px;
}

#submit:hover {
  background-color: var(--hover-color);
}

.required::before {
  content: '* ';
  color: rgb(251, 5, 5);
}

.contact, .textbox {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
}

.contact{
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.textbox {
  width: 85%;
  text-align: left;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center-label {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
}

.map-container{
  display: flex;
  justify-content: center;
}
/* Dark Mode Styles */
body.dark-mode{
  background: var(--darkmode-bg);
  color: var(--darkmode-text);
}

body.dark-mode .nav-link {
  color: var(--darkmode-text);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(203, 196, 196);
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider{
  box-shadow: 0 0 1px #2195f332;
} 

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Responsive Styles */
@media only screen and (max-width: 200px) {
  .header-bar {
    flex-direction: column;
    align-items: flex-end;
  }

  .header-content {
    padding-left: 0;
    margin-top: 10px;
  }

  #header-img {
    width: 100%; 
  }
}

/* Main Page */
#feature {
 
}